---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: grafana-operator

  values:
    replicas: 1
    resources:
      requests:
        cpu: 20m
        memory: 32Mi
      limits:
        memory: 64Mi

    serviceMonitor: {enabled: true}
    dashboard: {enabled: true}

    maxConcurrentReconciles: 4
    logging:
      level: info
      encoder: json
