---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: grafana-operator

  values:
    replicas: 2
    leaderElect: true
    resources:
      requests:
        cpu: 20m
        memory: 32Mi
      limits:
        memory: 64Mi

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: grafana-operator

    serviceMonitor: {enabled: true}
    dashboard: {enabled: true}

    maxConcurrentReconciles: 4
    logging:
      level: info
      encoder: json

    extraObjects:
      - apiVersion: policy/v1
        kind: PodDisruptionBudget
        metadata:
          name: grafana-operator
        spec:
          minAvailable: 1
          selector:
            matchLabels:
              app.kubernetes.io/name: grafana-operator
