{% import "macros.j2" as templates with context %}
---
version: '3.9'

services:
  app:
    image: minio/minio:RELEASE.2022-09-25T15-44-53Z
    command: minio server /data --console-address ":9001"

    volumes:
      - {{ minio_stack_data_dir_path }}/data:/data

    networks:
      - {{ docker_proxy_network }}

    environment:
      MINIO_ROOT_USER: {{ minio_root_user }}
      MINIO_ROOT_PASSWORD: {{ minio_root_pass }}
      MINIO_BROWSER_REDIRECT_URL: https://minio-console.{{ fqdn }}

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: {{ docker_healthcheck_interval | default('30s') }}
      timeout: {{ docker_healtcheck_timeout | default('10s') }}
      retries: {{ docker_healthcheck_retries | default(5) }}

    deploy:
      mode: replicated
      replicas: 1

      {{ templates.restart_policy() | indent(6) }}

      labels:
        # Enable traefik to proxy this service
        - 'traefik.enable=true'
        {{ templates.traefik_labels('minio', '9000') | indent(8) }}
        {{ templates.traefik_labels('minio-console', '9001') | indent(8) }}

networks:
  {{ docker_proxy_network }}:
    external: true
