---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana

spec:
  config:
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"

    server:
      enable_gzip: "true"
      root_url: https://grafana.admin.mirceanton.com

    auth: {disable_login_form: "false"}
    auth.anonymous: {enabled: "true"}
    metrics: {enabled: "true"}
    news: {news_feed_enabled: "false"}
    plugins: {plugin_admin_enabled: "false"}
    security: {angular_support_enabled: "true"}

  deployment:
    spec:
      strategy:
        type: Recreate
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: grafana-admin-password-secret
                      key: GF_SECURITY_ADMIN_PASSWORD
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities: {drop: ["ALL"]}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-pvc

  httpRoute:
    spec:
      hostnames: ["grafana.admin.mirceanton.com"]
      parentRefs:
        - name: envoy-admin
          namespace: network-system
      rules:
        - backendRefs:
            - name: grafana-service
              port: 3000

  persistentVolumeClaim:
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: openebs-zfs
      resources:
        requests:
          storage: 4Gi
  disableDefaultSecurityContext: All
