---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-config
spec:
  path: ./apps/network-system/metallb/config
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network-system
  interval: 10m
  timeout: 5m
  prune: true
  wait: true
  dependsOn:
    - name: metallb
