---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-config
spec:
  interval: 10m
  prune: true
  wait: true
  targetNamespace: network-system

  path: ./apps/network-system/metallb/config
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  dependsOn:
    - name: metallb
