[submodule "utils/ansible/mirceanton.proxmox_dark_theme"]
	path = utils/ansible/mirceanton.proxmox_dark_theme
	url = https://github.com/mirceanton/ansible-role_proxmox-dark-theme
[submodule "utils/ansible/mirceanton.proxmox_cloudbuntu"]
	path = utils/ansible/mirceanton.proxmox_cloudbuntu
	url = https://github.com/mirceanton/ansible-role_proxmox-cloudbuntu
[submodule "utils/ansible/mirceanton.proxmox_nested_virt"]
	path = utils/ansible/mirceanton.proxmox_nested_virt
	url = https://github.com/mirceanton/ansible-role_proxmox-nested-virt
[submodule "utils/ansible/mirceanton.proxmox_pci_passthrough"]
	path = utils/ansible/mirceanton.proxmox_pci_passthrough
	url = https://github.com/mirceanton/ansible-role_proxmox-pci-passthrough
[submodule "utils/ansible/mirceanton.proxmox_nosub"]
	path = utils/ansible/mirceanton.proxmox_nosub
	url = https://github.com/mirceanton/ansible-role_proxmox-nosub
