[defaults]
inventory = inventory/hosts.ini
roles_path = utils/ansible/
host_key_checking = False
callbacks_enabled = profile_tasks

[hashi_vault_collection]
url = https://vault.automaton.local
token_validate = False
