{% import "macros.j2" as templates with context %}
---
version: '3.9'

services:
  app:
    image: traefik:v2.6

    networks:
      - {{ docker_proxy_network }}

    ports:
      - 80:80
      - 443:443

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ traefik_stack_data_dir_path }}/letsencrypt:/letsencrypt
      - {{ traefik_stack_data_dir_path }}/config.yml:/traefik.yml:ro

    healthcheck:
      test: ["CMD", "traefik" ,"healthcheck"]
      interval: {{ docker_healthcheck_interval | default('30s') }}
      timeout: {{ docker_healtcheck_timeout | default('10s') }}
      retries: {{ docker_healthcheck_retries | default(5) }}

    deploy:
      mode: global

      placement:
        constraints:
          - node.role == manager

      {{ templates.restart_policy() | indent(6) }}

      labels:
        # Enable traefik to proxy this service
        - 'traefik.enable=true'
        {{ templates.traefik_labels('traefik', '8080') | indent(8) }}

networks:
  {{ docker_proxy_network }}:
    external: true
