---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
spec:
  interval: 10m
  prune: true
  wait: true
  targetNamespace: monitoring-system

  path: ./apps/monitoring-system/kube-prometheus-stack/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  postBuild:
    substitute: {}

  dependsOn:
    - name: openebs
      namespace: storage-system

