---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: homer-config
    files:
      - config.yml=files/config.yaml
