{% import "macros.j2" as templates with context %}
---
version: '3.9'
services:
  app:
    image: gitlab/gitlab-ce:15.4.0-ce.0
    hostname: '{{ gitlab_stack_name }}.{{ fqdn }}'

    # Reference: https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/files/gitlab-config-template/gitlab.rb.template
    environment:
      GITLAB_OMNIBUS_CONFIG: "from_file('/omnibus_config.rb')"

    configs:
      - source: gitlab
        target: /omnibus_config.rb

    volumes:
      - {{ gitlab_stack_data_dir_path }}/data/config:/etc/gitlab
      - {{ gitlab_stack_data_dir_path }}/data/logs:/var/log/gitlab
      - {{ gitlab_stack_data_dir_path }}/data/gitlab:/var/opt/gitlab

    networks:
      - internal
      - {{ docker_proxy_network }}

    deploy:
      mode: replicated
      replicas: 1

      {{ templates.restart_policy() | indent(6) }}

      labels:
        # Enable traefik to proxy this service
        - 'traefik.enable=true'
        {{ templates.traefik_labels('gitlab', '80') | indent(8) }}

  runner:
    image: gitlab/gitlab-runner:ubuntu-v15.2.2

    networks:
      - internal

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    deploy:
      mode: replicated
      replicas: 5

      {{ templates.restart_policy() | indent(6) }}

configs:
  gitlab:
    file: {{ gitlab_stack_data_dir_path }}/data/gitlab/gitlab.rb

networks:
  {{ docker_proxy_network }}:
    external: true
  internal:
    driver: overlay
    ipam:
      config:
        - subnet: 172.16.3.0/24
