# =================================================================================================
# API Settings
# =================================================================================================
# Reference: https://docs.traefik.io/operations/api/
# Endpoints: https://docs.traefik.io/operations/api/#endpoints
# -------------------------------------------------------------------------------------------------
api:
  insecure: true
  dashboard: true
  debug: true

# =================================================================================================
# Log Settings 
# =================================================================================================
# Reference: https://docs.traefik.io/observability/logs/ 
# Options: ERROR, DEBUG, PANIC, FATAL, WARN, INFO
# -------------------------------------------------------------------------------------------------
log:
  level: DEBUG

# =================================================================================================
# Provider Settings
# =================================================================================================
# Reference: https://docs.traefik.io/providers/docker/#provider-configuration
# -------------------------------------------------------------------------------------------------
providers:
  docker:
    swarmMode: true
    watch: true
    exposedbydefault: false
    endpoint: "unix:///var/run/docker.sock"
    network: {{ docker_proxy_network }}
  file:
    filename: "traefik.yml" # This config
    watch: true

# =================================================================================================
# Entrypoints Settings
# =================================================================================================
# Reference: https://docs.traefik.io/routing/entrypoints/#configuration
# -------------------------------------------------------------------------------------------------
entrypoints:
  web:
    address: :80
  web-secured:
    address: :443
  ping:
    address: :8082

ping:
  entryPoint: "ping"

# =================================================================================================
# Certificate Settings (Let's Encrypt)
# =================================================================================================
# Reference: https://docs.traefik.io/https/acme/#configuration-examples
# -------------------------------------------------------------------------------------------------
certificatesresolvers:
  default:
    acme:
      tlschallenge: {}                    # Enable TLS-ALPN-01 to generate and renew ACME certs
      email: admin@homelab.mirceanton.com # Email for certs
      storage: /letsencrypt/acme.json     # Define acme file to store cert information

# =================================================================================================
# Setting up the middleware for redirect to https
# =================================================================================================
http:
  middlewares:
    redirect:
      redirectScheme:
        scheme: https
