---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./firefly-settings.configmap.yaml
  - ./firefly-keys.secret.sops.yaml
