---
clusterName: home-ops
endpoint: "https://home-ops.mgmt.h.mirceanton.com:6443"

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.3

# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.0

additionalApiServerCertSans: &san
  - home-ops.mgmt.h.mirceanton.com
  - 10.0.0.15
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *san

allowSchedulingOnControlPlanes: true
cniConfig: {name: none}

nodes:
  - hostname: home-ops
    ipAddress: 10.0.0.15
    controlPlane: true
    installDiskSelector: {size: "<= 300Gb"}
    nodeLabels:
      nvidia.com/gpu.present: "true"

    networkInterfaces:
      - interface: enp6s0 #? Management
        dhcp: true
        dhcpOptions: {routeMetric: 1024}

      - interface: bond0
        mtu: 9000
        dhcp: false
        bond:
          mode: 802.3ad
          lacpRate: fast
          interfaces: [enp4s0, enp4s0d1]
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
        vlans:
          - vlanId: 1255
            dhcp: true
            dhcpOptions: {routeMetric: 4095}
          - vlanId: 1010
            dhcp: true
            dhcpOptions: {routeMetric: 4095}

    patches:
      - "@./patches/nvidia.yaml"
      - "@./patches/zfs.yaml"
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/amdgpu
            - siderolabs/nvidia-container-toolkit-lts
            - siderolabs/nonfree-kmod-nvidia-lts
            - siderolabs/zfs

controlPlane:
  patches:
    - "@./patches/cluster-discovery.yaml"
    - "@./patches/kubelet-tuning.yaml"
    - "@./patches/disable-search-domain.yaml"
    - "@./patches/kubeprism.yaml"
    - "@./patches/network-binding.yaml"
    - "@./patches/mutating-admission.yaml"
    - "@./patches/host-dns.yaml"
    - "@./patches/disable-admission-control.yaml"
    - "@./patches/sysctls.yaml"
    - "@./patches/disable-kube-proxy.yaml" #? Cilium CNI
    - "@./patches/registry-mirrors.yaml"
