---
clusterName: home-ops
endpoint: "https://k8s-homeops.mgmt.h.mirceanton.com:6443"

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.2

# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.0

additionalApiServerCertSans: &san
  - k8s-homeops.mgmt.h.mirceanton.com
  - 10.0.0.30
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *san

allowSchedulingOnControlPlanes: true
cniConfig: { name: none }

nodes:
  - hostname: hops-01
    ipAddress: 10.0.0.31
    controlPlane: true

    installDiskSelector: { size: "<= 110GB" }
    userVolumes: &userVolumes
      - name: data # Mounted at /var/mnt/data for OpenEBS
        provisioning:
          diskSelector:
            match: disk.size > 110u * GB
          minSize: 1GB
          grow: true
        filesystem:
          type: xfs

    networkInterfaces: &networkInterfaces
      - interface: ens18 #? Management
        dhcp: true
        dhcpOptions: { routeMetric: 1024 }
        vip: { ip: 10.0.0.30 }
      - interface: ens19 #? Storage
        dhcp: true
        dhcpOptions: { routeMetric: 4095 }
        mtu: 9000
      - interface: ens20 #? Services
        dhcp: false

  - hostname: hops-02
    ipAddress: 10.0.0.32
    controlPlane: true
    installDiskSelector: { size: "<= 110GB" }
    userVolumes: *userVolumes
    networkInterfaces: *networkInterfaces

  - hostname: hops-03
    ipAddress: 10.0.0.33
    controlPlane: true
    installDiskSelector: { size: "<= 110GB" }
    userVolumes: *userVolumes
    networkInterfaces: *networkInterfaces

controlPlane:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/qemu-guest-agent
          - siderolabs/amd-ucode
          - siderolabs/amdgpu
          # - siderolabs/nonfree-kmod-nvidia-lts
          # - siderolabs/nvidia-container-toolkit-lts

patches:
  - "@./patches/cluster-discovery.yaml"
  - "@./patches/kubelet-tuning.yaml"
  - "@./patches/disable-search-domain.yaml"
  - "@./patches/kubeprism.yaml"
  - "@./patches/network-binding.yaml"
  - "@./patches/mutating-admission.yaml"
  - "@./patches/host-dns.yaml"
  - "@./patches/disable-admission-control.yaml"
  - "@./patches/sysctls.yaml"
  - "@./patches/disable-kube-proxy.yaml" #? Cilium CNI
  # - "@./patches/nvidia.yaml"
  # - "@./patches/registry-mirrors.yaml"
