---
clusterName: home-ops
endpoint: "https://homeops.mgmt.h.mirceanton.com:6443"

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.2

# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.0

additionalApiServerCertSans: &san
  - homeops.mgmt.h.mirceanton.com
  - 10.0.0.30
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *san

allowSchedulingOnControlPlanes: true
cniConfig: {name: flannel}

nodes:
  - hostname: hops-01
    ipAddress: 10.0.0.30
    controlPlane: true

    installDiskSelector:
      size: '<= 120GB'
    userVolumes:
      - name: data # Mounted at /var/mnt/data for OpenEBS
        provisioning:
          diskSelector:
            match: disk.size > 120u * GB
          minSize: 1GB
          grow: true
        filesystem:
          type: xfs

    networkInterfaces:
      - interface: ens18 #? Management
        dhcp: true
        dhcpOptions: {routeMetric: 1024}
      - interface: ens19 #? Services
        dhcp: false
      - interface: ens20 #? Storage
        dhcp: true
        dhcpOptions: {routeMetric: 4095}
        mtu: 9000

controlPlane:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/qemu-guest-agent

patches:
  - "@./patches/cluster-discovery.yaml"
  - "@./patches/kubelet-tuning.yaml"
  - "@./patches/disable-search-domain.yaml"
  - "@./patches/kubeprism.yaml"
  - "@./patches/network-binding.yaml"
  - "@./patches/mutating-admission.yaml"
  - "@./patches/host-dns.yaml"
  - "@./patches/disable-admission-control.yaml"
  - "@./patches/sysctls.yaml"
  # - "@./patches/registry-mirrors.yaml"
