---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana-operator
spec:
  interval: 10m
  prune: true
  wait: true
  targetNamespace: monitoring-system

  path: ./apps/monitoring-system/grafana/operator
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  postBuild:
    substitute: {}

  dependsOn: []
