{% import "macros.j2" as templates with context %}
---
version: '{{ docker_compose_version }}'

services:
  app:
    image: {{ homer_stack_image_name }}:{{ homer_stack_image_tag }}

    networks:
      - {{ docker_proxy_network }}

    volumes:
      - {{ homer_stack_data_dir_path }}/assets:/www/assets

    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
      INIT_ASSETS: 1

    deploy:
      mode: global

      {{ templates.restart_policy() | indent(6) }}

      labels:
        # Enable traefik to proxy this service
        - 'traefik.enable=true'
        {{ templates.traefik_labels('home', '8080') | indent(8) }}

networks:
  {{ docker_proxy_network }}:
    external: true
