---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-config
spec:
  path: ./apps/envoy-system/config
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  interval: 10m
  prune: true
  wait: true
  timeout: 5m
  targetNamespace: envoy-system

  decryption:
    provider: sops

  dependsOn:
    - name: envoy
