---
title: "Automaton"
subtitle: "Dashboard"
logo: assets/icons/dickbutt.svg

footer: ""

columns: 3

defaults:
  layout: columns
  colorTheme: dark

message:
  style: is-info
  title: Google
  icon: fab fa-google
  content: '<form action="https://google.com/search" method="get"><input type="text" name="q" placeholder="Search" style="width: 100%; padding: 8px; border-radius: 6px" spellcheck="false" autofocus="true" onkeydown="handleKeyPress(event)"/></form>'

links:
  - name: Repo
    icon: fab fa-github
    url: https://github.com/mirceanton/amir-hlb
  - name: Docs
    icon: fas fa-book
    url: https://amir-hlb.netlify.app

services:
  - name: Management
    icon: fa fa-gear
    items:
      - name: Portainer
        url: https://portainer.{{ fqdn }}
        subtitle: Container Management
        logo: assets/icons/portainer.svg
      - name: Traefik
        url: https://traefik.{{ fqdn }}
        subtitle: Reverse Proxy Dashboard
        logo: assets/icons/traefik.svg

  - name: CI/CD
    icon: fa fa-repeat
    items:
      - name: GitLab
        url: https://git.{{ fqdn }}
        subtitle: Source Code Management
        logo: assets/icons/gitlab.svg
      - name: Jenkins
        url: https://jenkins.{{ fqdn }}
        subtitle: Automation Server
        logo: assets/icons/jenkins.svg

  - name: Storage
    icon: fa fa-box-archive
    items:
      - name: Vault
        url: https://vault.{{ fqdn }}
        subtitle: Secrets Storage
        logo: assets/icons/vault.svg
      - name: MinIO
        url: https://console.minio.{{ fqdn }}
        subtitle: S3 Storage
        logo: assets/icons/minio.svg
