{{ $helmReleasePath := printf "../../apps/%s/%s/helm-release.yaml" .Release.Namespace .Release.Name }}
{{ $helmRelease := fromYaml (readFile $helmReleasePath) }}
{{ $helmRelease.spec.values | toYaml }}
